phidata
openai
python-dotenv
packaging
duckduckgo-search
fastapi
uvicorn
openai
googlesearch-python
#RAG
lancedb 
tantivy 
pypdf 
sqlalchemy
#postgree
psycopg[binary]
psycopg2-binary
pinecone
pinecone-text
pinecone[grpc]
cryptography
